<section class="who-i-m-component" data-cont>
	<h2>
		QUEM SOU
	</h2>

	<h3>
		Levi Alves
	</h3>
	<p>
		24 anos - Solteiro - Brasileiro
	</p>

	<h3>
		Formação Acadêmica
	</h3>
	<p>
		<span>
			<strong>
				Ensino Médio
			</strong> 
			- Escola Estadual Professor Mariano de Oliveira
		</span>
		<span>
			<strong>
				ULM
			</strong> 
			- Tom Jobim Instituto de Música - Percussão - Bateria
		</span>
		<span>
			<strong>
				A.I.S Computador / Saga Cursos 
			</strong> 
			- Web Design - Design Gráfico
		</span>
		<span>
			<strong>Ensino Superior</strong> - Universidade Anhanguera - Design Digital
		</span>
		<span>
			<strong>
				Curso
			</strong> 
			- Prepara Cursos Profissionalizantes - Design Gráfico
		</span>
		<span>
			<strong>
				Curso
			</strong> 
			- Impacta - XHTML + HTML + CSS + JAVASCRIPT + LOGICA DA PROGRAMAÇÃO
		</span>
	</p>

	<h3>
		Experiência Profissional
	</h3>
	<p>
		Web Designer desde 2010, trabalhei em agências digitais, e-commerce e startups adquirindo experiência em UX-UI.
	</p>
	<p>
		Em 2012, comecei a trabalhar como Front-End Developer me envolvendo em projetos como:
		<span>
			SC Corinthians -
		</span>
		<span>
			ACHAPA Hamburgueria -
		</span>
		<span>
			SETIN Construtora -
		</span>
		<span>
			APP Palmeiras -
		</span>
		<span>
			Construtora Paulo Mauro -
		</span>
		<span>
			Symantec -
		</span>
		<span>
			Grupo Clarian -
		</span>
		<span>
			Bradesco Seguros -
		</span>
		<span>
			Leroy Merlin -
		</span>
		<span>
			OBRAMAX - 
		</span>
		<span>
			CLARO - 
		</span>
		<span>
			Arborea Cymbals - 
		</span>
	</p>

	<h3>
		Empresas que Trabalhei
	</h3>
	<ul>
		<li>
			<a href="http://www.golmaisgol.com.br/" title="Gol Mais Gol" target="_blank">
				Gol mais gol -
			</a>
		</li>
		<li>
			<a href="http://www.descubranet.com/" title="Descubranet" target="_blank">
				Desculbranet -
			</a>
		</li>
		<li>
			<a href="http://www.sabbre.com.br/" title="Sabbre Ag" target="_blank">
				Sabbre// ag - 
			</a>
		</li>
		<li>
			<a href="http://www.digitalcentral.com.br/" title="Digital Central" target="_blank">
				Digital central - 
			</a>
		</li>
		<li>
			<a href="http://www.id360.com.br/" title="ID360" target="_blank">
				Id360 -
			</a>
		</li>
		<li>
			<a href="http://www.esm.com.br" title="ESM" target="_blank">
				ESM -
			</a>
		</li>
	</ul>

	<h3>Onde Trabalho</h3>
	<p>
		Atualmente estou na empresa 
		<strong>
			MJV Soluções Tecnologia 
		</strong> 
		trabalhando em equipes multidisciplinares com foco em prototipos de alta fidelidade através da metodologia Design Thinking.
	</p>
</section>