<section class="who-i-m-component" data-cont>
	<h2>
		WHO I´M
	</h2>

	<h3>
		Levi Alves
	</h3>
	<p>
		24 Years - Single - Brasileiro
	</p>

	<h3>
		School Training
	</h3>
	<p>
		<span>
			<strong>
				High School
			</strong> 
			- School State Professor Mariano de Oliveira
		</span>
		<span>
			<strong>
				ULM
			</strong> 
			- Tom Jobim Institute of Music - Percussion - Drums
		</span>
		<span>
			<strong>
				A.I.S Computer / Saga Courses 
			</strong> 
			- Web Design - Graphic Design
		</span>
		<span>
			<strong>Higher Education</strong> - University Anhanguera - Digital Design
		</span>
		<span>
			<strong>
				Course
			</strong> 
			- Prepara Vocational - Graphic Designer
		</span>
		<span>
			<strong>
				Course
			</strong> 
			- Impacta - XHTML + HTML + CSS + JAVASCRIPT + PROGRAMMING LOGIC
		</span>
	</p>

	<h3>
		Professional Experience
	</h3>
	<p>
		Web Designer since 2010, worked in digital agencies, e-commerce and startups acquiring experience in UX-UI.
	</p>
	<p>
		Since 2012, entered the front-end developer career getting involved in projects like:
		<span>
			SC Corinthians -
		</span>
		<span>
			ACHAPA Hamburgueria -
		</span>
		<span>
			SETIN Construtora -
		</span>
		<span>
			APP Palmeiras -
		</span>
		<span>
			Construtora Paulo Mauro -
		</span>
		<span>
			Symantec -
		</span>
		<span>
			Grupo Clarian -
		</span>
		<span>
			Bradesco Seguros -
		</span>
		<span>
			Leroy Merlin -
		</span>
		<span>
			OBRAMAX - 
		</span>
		<span>
			CLARO - 
		</span>
		<span>
			Arborea Cymbals - 
		</span>
	</p>
	<p>
		I'm currently in the Enterprise 
		<strong>
			MJV Solutions Technology
		</strong> 
		STRATEGIST working with multidisciplinary teams focusing on deliverables and high-fidelity prototypes with help in Design Thinking methodology.
	</p>

	<h3>
		Companies that worked
	</h3>
	<ul>
		<li>
			<a href="http://www.golmaisgol.com.br/" title="Gol Mais Gol" target="_blank">
				Gol mais gol -
			</a>
		</li>
		<li>
			<a href="http://www.descubranet.com/" title="Descubranet" target="_blank">
				Desculbranet -
			</a>
		</li>
		<li>
			<a href="http://www.sabbre.com.br/" title="Sabbre Ag" target="_blank">
				Sabbre// ag - 
			</a>
		</li>
		<li>
			<a href="http://www.digitalcentral.com.br/" title="Digital Central" target="_blank">
				Digital central - 
			</a>
		</li>
		<li>
			<a href="http://www.id360.com.br/" title="ID360" target="_blank">
				Id360 -
			</a>
		</li>
		<li>
			<a href="http://www.esm.com.br" title="ESM" target="_blank">
				ESM -
			</a>
		</li>
		<li>
			<a href="http://www.mjv.com.br" title="MJV" target="_blank">
				MJV Solutions Technology -
			</a>
		</li>
	</ul>
</section>