<section class="who-i-m-component" data-cont>
	<h2>
		QUEM SOU
	</h2>

	<h3>
		Levi Alves
	</h3>
	<p>
		24 anos - Solteiro - Brasileiro
	</p>

	<h3>
		Formação Acadêmica
	</h3>
	<p>
		<span>
			<strong>
				Ensino Médio
			</strong> 
			- Escola Estadual Professor Mariano de Oliveira
		</span>
		<span>
			<strong>
				ULM
			</strong> 
			- Tom Jobim Instituto de Música - Percussão - Bateria
		</span>
		<span>
			<strong>
				A.I.S Computador / Saga Cursos 
			</strong> 
			- Web Design - Design Gráfico
		</span>
		<span>
			<strong>Ensino Superior</strong> - Universidade Anhanguera - Design Digital
		</span>
		<span>
			<strong>
				Curso
			</strong> 
			- Prepara Cursos Profissionalizantes - Design Gráfico
		</span>
		<span>
			<strong>
				Curso
			</strong> 
			- Impacta - XHTML + HTML + CSS + JAVASCRIPT + LOGICA DA PROGRAMAÇÃO
		</span>
	</p>

	<h3>
		Experiência Profissional
	</h3>
	<p>
		<strong>Web Designer</strong> desde 2010 trabalhei em agências, e-commerce e
		startups adquirindo experiência em UX-UI. Em 2012 ingressei na
		carreira de <strong> Front End</strong>, me envolvendo em grandes projetos.
	</p>
	<p>
		Em 2015 atuei na consultoria <strong>MJV</strong>, trabalhando com equipes
		multidisciplinares em clientes como: <strong>Bradesco Seguros</strong>, <strong>Leroy Merlin</strong>
		e <strong>Claro</strong>, focando em entregáveis e protótipos de alta fidelidade com auxilio do metodologia <strong>Design Thinking.</strong>
	</p>
	<p>
		Já em 2018, estou focado e liderando uma equipe de frontends na
		agência <strong>Wunderman Brasil</strong>, aonde cuidamos de todo Digital da <strong>VIVO
		Brasil.</strong>
	</p>
	<p>
		<strong>
			Projetos que atuei:
		</strong>
		<span>
			SC Corinthians -
		</span>
		<span>
			ACHAPA Hamburgueria -
		</span>
		<span>
			SETIN Construtora -
		</span>
		<span>
			Palmeiras Futebol Clube -
		</span>
		<span>
			Construtora Paulo Mauro -
		</span>
		<span>
			Symantec -
		</span>
		<span>
			Grupo Clarian -
		</span>
		<span>
			Bradesco Seguros -
		</span>
		<span>
			Leroy Merlin -
		</span>
		<span>
			OBRAMAX - 
		</span>
		<span>
			CLARO Brasil- 
		</span>
		<span>
			Arborea Cymbals Brasil - 
		</span>
		<span>
			VIVO Brasil -
		</span>
	</p>

	<h3>
		<strong>
			Empresas que atuei:
		</strong>
	</h3>
	<ul>
		<li>
			<a href="http://www.golmaisgol.com.br/" title="Gol Mais Gol" target="_blank">
				Gol Mais Gol -
			</a>
		</li>
		<li>
			<a href="http://www.descubranet.com/" title="Descubranet" target="_blank">
				Desculbranet -
			</a>
		</li>
		<li>
			<a href="http://www.sabbre.com.br/" title="Sabbre Ag" target="_blank">
				Sabbre// AG - 
			</a>
		</li>
		<li>
			<a href="http://www.digitalcentral.com.br/" title="Digital Central" target="_blank">
				Digital Central - 
			</a>
		</li>
		<li>
			<a href="http://www.id360.com.br/" title="ID360 | Agência de Publicidade" target="_blank">
				ID360 | Agência de Publicidade -
			</a>
		</li>
		<li>
			<a href="http://www.esm.com.br" title="ESM Sports Business" target="_blank">
				ESM Sports Business - 
			</a>
		</li>
		<li>
			<a href="http://www.mjv.com.br/" title="MJV | Consultoria em Inovação e Tecnologia" target="_blank">
				MJV | Consultoria em Inovação e Tecnologia -
			</a>
		</li>
		<li>
			<a href="http://www.wunderman.com.br/" title="Wunderman Brasil" target="_blank">
				Wunderman Brasil -
			</a>
		</li>
	</ul>

	<h3>Onde Trabalho</h3>
	<p>
		Atualmente estou na agência 
		<strong>
			Wunderman Brasil
		</strong> 
		liderando equipes multidisciplinares com foco em Front End.
	</p>
</section>