<section class="skills-component" data-cont>
	<h2>
		SKILLS
	</h2>

	<h3>
		CLIENT-SIDE
	</h3>
	<p>
		✔ HTML 5 - ✔ SASS  - ✔ JAVASCRIPT
	</p>

	<h3>
		SERVER-SIDE
	</h3>
	<p>
		✔ PHP - ✔ ASP
	</p>

	<h3>
		LIBRARIES
	</h3>
	<p>
		✔ JQUERY
	</p>

	<h3>
		TOOLING
	</h3>
	<p>
		✔ GIT - ✔ GULP - ✔ NPM - ✔ PHOTOSHOP - ✔ ILLUSTRATOR - ✔ SVN
	</p>

	<h3>
		FRAMEWORK
	</h3>
	<p>
		✔ ANGULAR - ✔ BOOTSTRAP 
	</p>

	<h3>
		PATTERNS AND TECHNIQUES
	</h3>
	<p>
		✔ BEM - ✔ RESPONSIVE FIRST - ✔ SEO 
	</p>
</section>