//PARAMS
@import "../../scss/params.scss";

/* SKILLS *////////////////////////////////////
.contact-component {
	overflow-x: auto;
	height: 100vh;

	.input{
		position: relative;
		margin-right: 40px;
		margin-left: 40px;
		margin-bottom: 40px;

		input {
		  border: 0;
		  border-bottom: 1px solid $brancoOn;
		  outline: none;
		  transition: .2s ease-in-out;
		  box-sizing: border-box;
		  background: rgba(0,0,0,0);
		  color: $brancoOn;
		  font-weight: 200;
		  text-align: right;
		}
		label {
		  top: 0;
		  right: 0;
		  color: $brancoOn;
		  display: flex;
		  align-items: center;
		  position: absolute;
		  font-size: 1rem;
		  cursor: text;
		  transition: .2s ease-in-out;
		  box-sizing: border-box;
      justify-content: flex-end;
		}
		input,
		label {
		  width: 100%;
		  height: 3rem;
		  font-size: 1rem;
		}
		/* Interation */
		input:valid,
		input:focus {
		  border-bottom: 1px solid $bg;  
		}
		input:valid + label,
		input:focus + label {
		  color: $bg;
		  font-size: .8rem;
		  top: -30px;
		  pointer-events: none;
		}
	}
	.button {
		background: $brancoOn;
		border: none;
		width: 150px;
		margin-left: 40px;
		margin-right: 40px;
		margin-bottom: 30px;
		height: 40px;
		position: relative;
		overflow: hidden;
	
		&:hover {
			.button-on {
				bottom: 0;
			}
		}
		span {
			position: relative;
			color: $black;
			z-index: 9;
		}
		.button-on {
			cursor: pointer;
			background: $brancooF;
	    position: absolute;
	    bottom: -100%;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    z-index: 5;
      transition: all .25s ease-in-out;
		}
	}
}

