<section class="contact-component" data-cont>
	<h2>
		CONTACT
	</h2>

	<h3>
		CELL PHONE
	</h3>
	<p>
		011 98222-8372
	</p>

	<h3>
		E-MAIL
	</h3>
	<p>
		levisfront@gmail.com
	</p>
	
	<form action="">
    <div class="input">
      <input id="name" type="text" pattern=".+" required />
      <label class="label" for="name">
      	NOME
      </label>
    </div>
    <div class="input">
      <input id="email" type="text" pattern=".+" required />
      <label class="label" for="email">
      	E-MAIL
      </label>
    </div>
		<div class="input">
		  <input id="subject" type="text" pattern=".+" required />
		  <label class="label" for="subject">
		  	SUBJECT
		  </label>
		</div>
		<div class="input">
		  <input id="message" type="text" pattern=".+" required />
		  <label class="label" for="message">
		  	MESSAGE
		  </label>
		</div>
		<button class="button">
			<span>
				SUBMIT
			</span>
			<span class="button-on"></span>
		</button>
	</form>
</section>