<!DOCTYPE html>
<html lang="br">
<head>
	<!-- SEO -->
  <meta charset="UTF-8">
  <title>Levi Alves - Front End Developer</title>

	<meta name="keywords" content="Levi Alves, Front End Developer, Desenvolvedor Front End, Front End, UX, UI, Design Thinking, Web Designer, Levi Alves, Alves, Oliveira">
	<meta name="description" content="Bem vindo ao site do Levi Alves, Front end Developer desde 2010, trabalhei em agências digitais, e-commerce e startups adquirindo experiência em UI.">
	<meta name="revisit-after" content="1">
	<meta name="robots" content="ALL">
	<meta name="rating" content="General">
	<meta name="author" content="Levi Alves de Oliveira">
	<meta name="revisit-after" content="1">
	<meta name="robots" content="ALL">
	<meta name="rating" content="General">
	<meta name="author" content="Levi Alves de Oliveira">
	<meta property="og:title" content="Home - Levi Alves -  Front End Developer"/>
	<meta property="og:type" content="website"/>
	<meta property="og:url" content="http://www.levialves.com.br/frontend"/>
	<meta property="og:image" content="../img/img-fc.jpg" />
	<meta property="og:description" content="Bem vindo ao site do Levi Alves de Oliveira e seus dois segmentos profissionais, Front end e Músico." />
	<meta property="og:site_name" content="levialves.com.br" />
	<meta property="og:locale" content="pt_BR"/>
	<meta name="google-site-verification" content="dWOXy_BM9WChRX-KK1nuFklhB_fbU3DFxK1I8PnK39I" />
	<!-- end  -->
	<!-- facebook -->
	<meta property="og:title" content="Levi Alves -  Front End Developer">
    <meta property="og:image" content="img/img-fc.jpg">
    <meta property="og:description" content="Bem vindo ao site do Levi Alves, Front end Developer desde 2010, trabalhei em agências digitais, e-commerce e startups adquirindo experiência em UI.">
	<!-- end -->
	<meta name="format-detection" content="telephone=no">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" type="image/x-icon" href="../img/favicon.png">

    <!-- CSS -->
    <link rel="stylesheet" href="./css/bundle.css">
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,100,500' rel='stylesheet' type='text/css'>

</head>
<body>