<section class="works-component" data-cont>
	<h2>WORKS</h2>
	<p>Below are the projects that participate from 2012 to the moment.</p>
	<ul class="projects">
		<li class="thumb">
			<a href="https://www.corinthians.com.br/home/" target="_blank">
				<img src="../img/projects/corinthians.jpg" alt="Sport Club Corinthians Paulista">
				<span class="legend">
					<h4>
						Sport Club Corinthians Paulista
						<small>
							Institutional page - developed in HTML + CSS + JS + PHP
						</small>
					</h4>
				</span>
			</a>
		</li>
		<li class="thumb">
			<a href="http://broadandsharp.com/" target="_blank">
				<img src="../img/projects/bs.jpg" alt="Broad And Sharp">
				<span class="legend">
					<h4>
						Broad And Sharp
						<small>
							 Page Band - developed in HTML + CSS + JQUERY
						</small>
					</h4>
				</span>
			</a>
		</li>
		<li class="thumb">
			<a href="https://looklink.it/" target="_blank">
				<img src="../img/projects/looklink.jpg" alt="Looklink | Monetização de influência">
				<span class="legend">
					<h4>
						Looklink Monetização de influência
						<small>
							Institutional page - developed in HTML + CSS + JQUERY
						</small>
					</h4>
				</span>
			</a>
		</li>
		<li class="thumb">
			<a href="http://www.palmeiras.com.br/app/" target="_blank">
				<img src="../img/projects/palmeiras.jpg" alt="APP Oficial do Palmeiras">
				<span class="legend">
					<h4>
						APP Oficial do Palmeiras
						<small>
							Institutional page - developed in HTML + CSS
						</small>
					</h4>
				</span>
			</a>
		</li>
		<li class="thumb">
			<a href="http://polarisviagens.com.br/novo/" target="_blank">
				<img src="../img/projects/polaris.jpg" alt="Polaris">
				<span class="legend">
					<h4>
						Polaris
						<small>
							Institutional page - developed in HTML + CSS + JQUERY
						</small>
					</h4>
				</span>
			</a>
		</li>
		<li class="thumb">
			<a href="http://www.homestudio47.com.br/" target="_blank">
				<img src="../img/projects/homestudio47.jpg" alt="Home Studio 47 - O seu espaço com estilo">
				<span class="legend">
					<h4>
						Home Studio 47 - O seu espaço com estilo
						<small>
							Institutional page - developed in HTML + CSS + JQUERY + ASP
						</small>
					</h4>
				</span>
			</a>
		</li>
		<li class="thumb">
			<a href="http://edi.fmcsv.org.br/" target="_blank">
				<img src="../img/projects/fmcsv.jpg" alt="Fundação Maria Cecilia Souto Vidigal">
				<span class="legend">
					<h4>
						Fundação Maria Cecilia Souto Vidigal
						<small>
							Institutional page - developed in HTML + CSS + JQUERY + ASP
						</small>
					</h4>
				</span>
			</a>
		</li>
		<li class="thumb">
			<a href="http://m.beyourselfnow.com.br/" target="_blank">
				<img src="../img/projects/beyourselfnow.jpg" alt="Be Design - Você no seu tempo, vivendo do seu jeito">
				<span class="legend">
					<h4>
						Be Design - Você no seu tempo, vivendo do seu jeito
						<small>
							Institutional mobile page - developed in HTML + CSS + Hammer JS + ASP
						</small>
					</h4>
				</span>
			</a>
		</li>
		<li class="thumb">
			<a href="http://m.setin.com.br/" target="_blank">
				<img src="../img/projects/setin.jpg" alt="SETIN Incorporadora">
				<span class="legend">
					<h4>
						SETIN Incorporadora
						<small>
							Institutional portal mobile - developed in HTML + CSS + Hammer JS + ASP
						</small>
					</h4>
				</span>
			</a>
		</li>
		<li class="thumb">
			<a href="http://www.levialves.com.br/drummer/" target="_blank">
				<img src="../img/projects/levisdrummer.jpg" alt="">
				<span class="legend">
					<h4>
						Levi Alves - Oficial Drummer
						<small>
							Institutional page - developed in HTML + CSS + JQUERY
						</small>
					</h4>
				</span>
			</a>
		</li>
		<li class="thumb">
			<a href="http://www.arboreacymbal.com.br/loja/" target="_blank">
				<img src="../img/projects/arborea-loja.jpg" alt="Arborea Cymbals Brasil - Sua melhor escolha!">
				<span class="legend">
					<h4>
						Arborea Cymbals Brasil - Sua melhor escolha!
						<small>
							Virtual Store - developed in HTML + CSS + JQUERY + PHP + OPENCART
						</small>
					</h4>
				</span>
			</a>
		</li>
		<li class="thumb">
			<a href="http://www.arboreacymbal.com.br" target="_blank">
				<img src="../img/projects/arborea-site.jpg" alt="Arborea Cymbals Brasil -  Sua Melhor Escolha!">
				<span class="legend">
					<h4>
						Arborea Cymbals Brasil - Sua Melhor Escolha!
						<small>
							Institutional page - developed in HTML + CSS + JQUERY
						</small>
					</h4>
				</span>
			</a>
		</li>
		<li class="thumb">
			<a href="http://www.circuitodalongevidade.com.br/" target="_blank">
				<img src="../img/projects/circuito-longividade.jpg" alt="Circuito da Longevidade | Bradesco Seguros">
				<span class="legend">
					<h4>
						Circuito da Longevidade | Bradesco Seguros
						<small>
							Institutional page - developed in HTML + CSS + JQUERY
						</small>
					</h4>
				</span>
			</a>
		</li>
		<li class="thumb">
			<a href="http://mjvprojetos.com.br/100corretor/" target="_blank">
				<img src="../img/projects/100corretor.jpg" alt="Portal 100% Corretor">
				<span class="legend">
					<h4>
						Portal 100% Corretor
						<small>
							DashBoard - developed in HTML + CSS + JQUERY + BOOTSTRAP + PHP
						</small>
					</h4>
				</span>
			</a>
		</li>
		<li class="thumb">
			<a href="http://mjvprojetos.com.br/leroy-merlin/pdv-linx/" target="_blank">
				<img src="../img/projects/leroymerlin.jpg" alt="Prototipo - LINX PDV">
				<span class="legend">
					<h4>
						Prototipo - LINX PDV
						<small>
							PDV - developed in HTML + CSS + JQUERY
						</small>
					</h4>
				</span>
			</a>
		</li>
		<li class="thumb">
			<a href="http://mjvprojetos.com.br/pis" target="_blank">
				<img src="../img/projects/pis.jpg" alt="Bradesco Seguros - PIS">
				<span class="legend">
					<h4>
						Bradesco Seguros - PIS
						<small>
							DashBoard - developed in HTML + CSS + JQUERY + BOOTSTRAP + PHP
						</small>
					</h4>
				</span>
			</a>
		</li>
		<li class="thumb">
			<a href="http://mjvprojetos.com.br/holograma/" target="_blank">
				<img src="../img/projects/holograma.jpg" alt="Simular e Comprar Seguro Online | Shopping de Seguros Bradesco">
				<span class="legend">
					<h4>
						Shopping de Seguros Bradesco
						<small>
							Institutional portal - developed in HTML + CSS + JQUERY + BOOTSTRAP
						</small>
					</h4>
				</span>
			</a>
		</li>
		<li class="thumb">
			<a href="http://garagebk.com.br/" target="_blank">
				<img src="../img/projects/garagebike.jpg" alt="Garage Bike - A Bike do Seu Sonho Esta Aqui!">
				<span class="legend">
					<h4>
						Garage Bike - A Bike do Seu Sonho Esta Aqui!
						<small>
							DashBoard - developed in HTML + CSS + JQUERY + PHP
						</small>
					</h4>
				</span>
			</a>
		</li>
		<li class="thumb">
			<a href="http://seguroviagem.mjvprojetos.com.br/" target="_blank">
				<img src="../img/projects/seguroviagem.jpg" alt="Seguro Viagem | Bradesco Seguros">
				<span class="legend">
					<h4>
						Seguro Viagem | Bradesco Seguros
						<small>
							DashBoard - developed in HTML + CSS + JQUERY + BOOTSTRAP + SCSS + GULP
						</small>
					</h4>
				</span>
			</a>
		</li>
	</ul>
</section>