//PARAMS
@import "../../scss/params.scss";

/* LEFT *////////////////////////////////////
.left-component {
	background: url("../img/bg-face.jpg") no-repeat center right $bg;
	width: 50%;
  height: 100vh;
	display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-size: cover; 

	.nav-buttom {
    margin-top: 40px;
    margin-left: 40px;
    margin-bottom: 40px;
    width: 31px;
    height: 24px;

		.open {
	    display: flex;
	    flex-direction: column;

	    &:hover {
	    	.item {
					opacity: .5;
	    	}
	    }

			.item {
		    height: 3px;
		    width: 30px;
		    margin-bottom: 6px;
		    background: #fff;
		    transition: all 0.3s cubic-bezier(0.42, 0, 0.15, 1.49);
		    transform-origin: 4px 1px;
		    transition: all .25s ease-in-out;
			}
		}
	}
	.tit {
		margin-left: 40px;
		margin-bottom: 60px;
	}
	.redes {
		position: relative;
		margin-left: 40px;
		margin-bottom: 40px;

		ul {
			display: flex;
	    flex-wrap: wrap;
		}
		.icon {
			background: no-repeat center;
			width: 42px;
			height: 42px;
	    display: flex;
	    margin-right: 20px;
	    transition: all .25s ease-in-out;
	    margin-top: 20px;
			
			&:hover {
				opacity: .5;
			}
			&.facebook {
				background-image: url("../img/facebook.png"); 
			}
			&.instagram {
				background-image: url("../img/instagram.png"); 
			}
			&.whatsapp {
				background-image: url("../img/whatsapp.png"); 
			}
			&.linkedin {
				background-image: url("../img/linkedin.png"); 
			}
			&.github {
				background-image: url("../img/github.png"); 
			}
		}
	}
}

