<section class="left-component">
	<div class="nav-buttom">
		<a href="javascript:void(0);" class="open">
			<span class="item"></span>
			<span class="item"></span>
			<span class="item"></span>
		</a>
	</div>
	<div class="tit">
		<h1>
			Levi Alves 		
			<small>
				Front End Developer with notions in UX-UI.
			</small>
		</h1>
	</div>
	<div class="redes">
		<ul>
			<li>
				<a href="https://www.facebook.com/levisfront" class="icon facebook" target="_blank" title="Facebook"></a>
			</li>
			<li>
				<a href="https://www.instagram.com/levisdrum/" class="icon instagram" target="_blank" title="Instagram"></a>
			</li>
			<li>
				<a href="tel:11982228372" class="icon whatsapp" title="Whatsapp"></a>
			</li>
			<li>
				<a href="https://www.linkedin.com/in/levioliveira/" class="icon linkedin" target="_blank" title="Linkedin"></a>
			</li>
			<li>
				<a href="https://www.github.com/levisfront" class="icon github" title="GitHub" target="_blank"></a>
			</li>
		</ul>
	</div>
</section>


